<div id="chat-container" class="container-fluid" jq-ctrl="chat">
    <div class="row">
        <iframe id="chat-frame" class="col-lg-12 col-md-12 col-sm-12" src="https://gitter.im/r3wt/jqMVC"></iframe>
    </div>
</div>