<!-- Intro Section -->
<section id="intro" class="intro-section">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<h1>Scrolling Nav</h1>
								<p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
								<a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
						</div>
				</div>
		</div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<h1>About Section</h1>
						</div>
				</div>
		</div>
</section>

<!-- Services Section -->
<section id="services" class="services-section">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<h1>Services Section</h1>
						</div>
				</div>
		</div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<h1>Contact Section</h1>
						</div>
				</div>
		</div>
</section>