{% if name is defined %}
Hello {{name}}!<br/>
<a data-href="/">Go back</a>
{% else %}
<h1>Hello there person!</h1>
<p>Welcome to jqMVC!</p>
<form id="hello-name">
	<label>Please Enter Your Name
		<input type="text" />
		<button type="submit">Submit Form</button>
	</label>
</form>
{% endif %}